<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>{{ request.path }}</li>
        <li>{{ request.path_info }}</li>
        <li>{{ request.get_full_path }}</li>
        <li>{{ request.method }}</li>
        <li>{{ request.encoding }}</li>
        <li>{{ request.COOKIES }}</li>
        <li>{{ request.GET }}</li>
        <li>{{ request.POST }}</li>
        <li>{{ request_session }}</li>
        <li>{{ request_session_isajax }}</li>
        <li>{{ a }}</li>


    </ul>
</body>
</html>